html{
    background-color:$bg-principal;
    font-family: "Roboto";
    color: $color2;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: $color2;
}

h2{
    color: $color2;
    font-size: larger;
}