.servicios{
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-top: 15px;
    h2{
    font-size: x-large;
    font-weight: bolder;
    padding: 5px;
    margin: 5px;
    }
    p {
    text-align: justify;
    font-size: large;
    padding: 5px;
    margin: 5px;
    }
    & a{
        font-family: $typo-titulos;
        font-weight: bold;
    }
    h3 {
		font-size: large;
		font-weight: bold;
		padding: 5px;
		margin: 5px;
        text-align: center;
    }
}

.container-servicios{
	display: grid;
	width: 100%;
	grid-template-columns: repeat(2, 1fr);
    align-content: center;
	row-gap: 20px;
	padding: 15px;
	h4{
		font-size: large;
		font-weight: normal;
		font-family: $typo-titulos;
	}
}

.carta-servicios{
	text-align: center;
	img {
		width: 600px;
		height: 600px;
        padding: 20px;
        border: 10px;
        margin: 25px;
		border-radius: 50px;
		object-fit: cover;
		filter: drop-shadow(2px 2px 5px rgba(100, 100, 100,0.5));
	}
}